body {
  background-image: url("../../images/freerun.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-weight: lighter; }

.navbar-default {
  height: 80px; }
  .navbar-default .navbar-nav {
    background-color: #f8f8f8;
    font-weight: 700;
    padding: 15px; }
    .navbar-default .navbar-nav li {
      margin-right: 57px; }
    .navbar-default .navbar-nav i {
      font-size: 30px; }
  .navbar-default .navbar-right {
    padding-bottom: 0px; }

.title {
  position: relative; }
  .title img {
    width: 75%;
    min-width: 350px;
    display: block;
    margin: 0 auto; }

.before {
  left: 50%; }
  .before img {
    display: block;
    margin: 0 auto; }

.top-frame .row {
  margin-bottom: 150px; }
.top-frame .circle {
  background-color: #dddddd;
  color: #333333;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  padding-top: 60px;
  font-weight: 700; }
  .top-frame .circle i {
    font-size: 50px; }
  .top-frame .circle:hover {
    transition: background-color 0.5s ease;
    background-color: #ffbe00; }

.border {
  background-image: url("../../images/border.png");
  background-repeat: repeat-x;
  width: 100%; }

.spacer {
  height: 15vh; }

.row {
  margin: 0; }
  .row.lower {
    background-color: #eeeeee;
    overflow: auto;
    padding: 50px 40px; }
    .row.lower p {
      font-size: 20px; }
    .row.lower.events img {
      margin: 0 auto;
      display: block; }
    .row.lower.events p {
      padding: 20px 0; }
    .row.lower.events #calendar-title {
      color: white; }
    .row.lower.about img {
      margin: 0 auto; }
    .row.lower.about .nav-tabs {
      border-bottom: none;
      margin-bottom: 20px; }
      .row.lower.about .nav-tabs a {
        color: #333333;
        font-size: 26px; }
      .row.lower.about .nav-tabs a:hover {
        border-bottom: none; }
    .row.lower.faq p {
      font-size: 22px; }
    .row.lower.faq .faq-select {
      height: 80px;
      font-weight: 300; }
      .row.lower.faq .faq-select.active {
        background-color: #dddddd; }
      .row.lower.faq .faq-select a {
        color: #333333;
        padding-top: 4%;
        display: inline-block;
        font-size: 26px; }
        .row.lower.faq .faq-select a:hover {
          color: black;
          text-decoration: none; }
    .row.lower.faq p {
      margin-top: 13%; }
    .row.lower.sign {
      background-color: #ffbe00;
      color: #333333;
      text-align: center; }
      .row.lower.sign.sign-title {
        color: #333333; }
      .row.lower.sign a {
        color: #dddddd; }
        .row.lower.sign a:hover {
          transition: color 0.5s ease;
          color: #100413; }

footer {
  font-family: Futura, sans-serif;
  background-color: black;
  padding: 50px 40px;
  text-transform: uppercase; }
  footer .footer-left {
    display: inline-block; }
  footer .footer-right {
    float: right;
    text-align: right; }
    footer .footer-right a {
      font-size: 30px;
      color: white;
      text-decoration: none; }
      footer .footer-right a:hover {
        transition: color 0.5s ease;
        color: #bbbbbb; }
  footer i {
    font-family: "Roboto", sans-serif;
    font-weight: thin; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #e7e7e7; }

h2 {
  font-family: "Futura-CondensedMedium", "Futura", sans-serif;
  font-weight: 600;
  font-size: 42pt;
  letter-spacing: -3px;
  text-transform: uppercase;
  text-align: center; }

.yellow {
  color: #ffbe00; }

.grey {
  color: #a6a6a6; }
