/*
Syntax error: Illegal nesting: Only properties may be nested beneath properties.
        on line 60 of ./stylesheets/sass/custom.sass

55:           border-bottom: none
56: footer
57:   background-color: $grey
58:   ul
59:     display: inline-block
60:       li
61:         display: inline-block
62:         background-color: #f00
63: .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
64:   background-color: #e7e7e7

Backtrace:
./stylesheets/sass/custom.sass:60
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/check_nesting.rb:13:in `visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:39:in `visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:39:in `visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:39:in `visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/check_nesting.rb:36:in `visit_root'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:24:in `visit'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/tree/root_node.rb:19:in `render'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:283:in `block in watch'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/home/dalek49/.rvm/gems/ruby-2.0.0-p247@tam_service_proj/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Illegal nesting: Only properties may be nested beneath properties.\A         on line 60 of ./stylesheets/sass/custom.sass\A \A 55:           border-bottom: none\A 56: footer\A 57:   background-color: $grey\A 58:   ul\A 59:     display: inline-block\A 60:       li\A 61:         display: inline-block\A 62:         background-color: #f00\A 63: .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus\A 64:   background-color: #e7e7e7"; }
