body {
  background-color: #100413; }

.navbar-default {
  height: 80px; }
  .navbar-default .navbar-nav {
    font-weight: 700;
    padding: 15px; }
    .navbar-default .navbar-nav li {
      margin-right: 57px; }
    .navbar-default .navbar-nav i {
      font-size: 30px; }

.top-frame .row {
  margin-bottom: 300px; }
.top-frame .circle {
  background-color: #dddddd;
  color: #222222;
  -webkit-border-radius: 15vh;
  border-radius: 13vh;
  width: 25vh;
  height: 25vh;
  text-align: center;
  margin: 0 auto;
  margin-top: 13vh;
  padding-top: 11vh;
  font-weight: 700; }

.spacer {
  height: 15vh; }

.row.lower {
  background-color: #eeeeee;
  overflow: auto;
  padding: 10px 40px; }
  .row.lower.about img {
    margin: 0 auto; }
  .row.lower.about p {
    font-size: 16px; }
  .row.lower.about .nav-tabs {
    border-bottom: none;
    margin-bottom: 20px; }
    .row.lower.about .nav-tabs a {
      color: #222222; }
    .row.lower.about .nav-tabs a:hover {
      border-bottom: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #e7e7e7; }
