$purple: #100413
$light: #ddd
$dark: #222
$grey: #777
body
  background-color: $purple
.navbar-default
  height: 80px
  .navbar-nav
    font-weight: 700
    padding: 15px
    li
      margin-right: 57px
    i
      font-size: 30px
.top-frame
  .row
    margin-bottom: 300px
  .circle
    background-color: $light
    color: $dark
    -webkit-border-radius: 15vh
    border-radius: 13vh
    width: 25vh
    height: 25vh
    text-align: center
    margin: 0 auto
    margin-top: 13vh
    padding-top: 11vh
    font-weight: 700
.spacer
  height: 15vh
.row
  &.lower
    background-color: #eee
    overflow: auto
    padding: 10px 40px
    p
      font-size: 16px
    &.events
      img
        margin: 0 auto
        display: block
      p
        padding: 20px 0
    &.about
      img
        margin: 0 auto
      .nav-tabs
        border-bottom: none
        margin-bottom: 20px
        & a
          color: $dark
        & a:hover
          border-bottom: none
footer
  background-color: $grey
  ul
    display: inline-block
      li
        display: inline-block
        background-color: #f00
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
  background-color: #e7e7e7 
