$purple: #100413
$light: #ddd
$dark: #333
$grey: #777
body
  background-color: $purple
.navbar-default
  height: 80px
  .navbar-nav
    font-weight: 700
    padding: 15px
    li
      margin-right: 57px
    i
      font-size: 30px
.top-frame
  .row
    margin-bottom: 300px
  .circle
    background-color: $light
    color: $dark
    -webkit-border-radius: 150px
    border-radius: 150px
    width: 200px
    height: 200px
    text-align: center
    margin: 0 auto
    margin-top: 70px
    padding-top: 60px
    font-weight: 700
    & i
      font-size: 50px
.spacer
  height: 15vh
.row
  &.lower
    background-color: #eee
    overflow: auto
    padding: 10px 40px
    p
      font-size: 16px
    &.events
      img
        margin: 0 auto
        display: block
      p
        padding: 20px 0
    &.about
      img
        margin: 0 auto
      .nav-tabs
        border-bottom: none
        margin-bottom: 20px
        & a
          color: $dark
        & a:hover
          border-bottom: none
    &.faq
      & p
        font-size: 18px
      & .faq-select
        height: 60px
        &.active
          background-color: $light
      & a
        color: $dark
        padding-top: 15px
        display: inline-block
        font-size: 22px
        &:hover
          color: #000
          text-decoration: none
footer
  background-color: $grey
  .footer-left
    display: inline-block
  .footer-right
    float: right
    margin-top: 30px
    margin-right: 30px
    & a
      font-size: 30px
      color: #fff
      text-decoration: none
      &:hover
        color: #bbb
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
  background-color: #e7e7e7 
